@tailwind base;

body {
  @apply font-montserrat min-h-screen;
}

#__next {
  @apply min-h-screen flex flex-col;
}

main {
  @apply min-h-full flex-1;
}

.content {
  @apply max-w-screen-xl box-border mx-auto px-12;
}

.playpause label {
  display: block;
  box-sizing: border-box;
  width: 0;
  height: 74px;
  border-color: transparent transparent transparent #fff;
  transition: 300ms all ease;
  cursor: pointer;
  border-style: double;
  border-width: 0 0 0 60px;
}

.playpause.small label {
  height: 27px;
  border-width: 0 0 0 20px;
}

.playpause input[type="checkbox"] {
  visibility: hidden;
}

.playpause input[type="checkbox"]:checked + label {
  border-style: solid;
  border-width: 37px 0 37px 60px;
}

.playpause.small input[type="checkbox"]:checked + label {
  border-style: solid;
  border-width: 12px 0 12px 20px;
}

@tailwind components;
@tailwind utilities;
