@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-montserrat min-h-screen;
}

#__next {
  @apply min-h-screen flex flex-col;
}

main {
  @apply flex-1;
}

.content {
  @apply max-w-screen-xl box-border mx-auto px-6 md:px-12;
}

.content-sm {
  @apply max-w-screen-lg box-border mx-auto px-6 md:px-12;
}

div#ReactQueryDevtoolsPanel {
  height: 400px !important;
}

/* ::placeholder {
  font-size: 14px;
} */

.playpause label {
  display: block;
  box-sizing: border-box;
  width: 0;
  height: 74px;
  border-color: transparent transparent transparent #fff;
  transition: 300ms all ease;
  cursor: pointer;
  border-style: double;
  border-width: 0 0 0 60px;
}

.playpause.small label {
  height: 27px;
  border-width: 0 0 0 20px;
}

.playpause input[type="checkbox"] {
  visibility: hidden;
}

.playpause input[type="checkbox"]:checked + label {
  border-style: solid;
  border-width: 37px 0 37px 60px;
}

.playpause.small input[type="checkbox"]:checked + label {
  border-style: solid;
  border-width: 12px 0 12px 20px;
}

.saving-dots {
  color: currentColor;
}

.saving-dots.span {
  font-size: 16px;
  animation: dots1 1s infinite steps(1);
}

.saving-dots.span:first-child + span {
  animation-name: dots2;
}

.saving-dots.span:first-child + span + span {
  animation-name: dots3;
}
